<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="https://library.kissclipart.com/20180830/ccq/kissclipart-books-icon-png-clipart-computer-icons-book-fa5d85a91f8ea2cc.png">

</head>

<body>
    
    <header>
        <h1>Best Books!</h1>
        <div class="rightdiv" style="width: 100%; ">
        <div class="topnav" id="myTopnav"  >
            <a href="#news" style="display: none;"></a>
            <a href="/" class="margintop20">Home</a>
            <a href="/searches/new">Search The Google Books API</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>

    
    </header>

    <div class="underheader">
        <h1>Search Results</h1>
    </div>
    <div class="showhandler">
    <% data.forEach(item =>{ %>
    <div class="master">
    <div class="card">
        <img src="<%= item.image_url  %>" alt="">
        <div class="container" style="min-height: 450px; position: relative;">
        <h2><%= item.title %></h2>
        <h4><%= item.author %></h4>
        <h4><%= item.isbn %></h4>
        <p style="margin-bottom: 100px;"><%= item.description %></p>
        <form action="/addBook" method="POST">
            <input type="hidden" name="image_url" value="<%= item.image_url %>">
            <input type="hidden" name="title" value="<%= item.title %>">
            <input type="hidden" name="author" id="title" value="<%= item.author %>">
            <input type="hidden" name="isbn" id='author' value="<%= item.isbn %>">
            <input type="hidden" name="description" id='author' value="<%= item.description %>">
            <input type="submit" value="Select this Book" class="buttonBook" style="position: absolute; bottom: 20px; right: -3%;">
        </form>
    </div>
    </div>
    </div>
    <% })%>
 
</div>
<script src="../app.js"></script>
</body>

</html>